.manager-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: 45px auto;
  user-select: none;
}

.manager-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 3px solid #949494;
  border-radius: 20px;
  height: 35px;
  text-decoration: none;
  color: #323232;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.manager-button:hover {
  background-color: #323232;
  border-color: #323232;
  color: white;
}
