@font-face {
  font-family: "Avengero";
  src: url("/public/fonts/avengero.ttf");
}

/* titles */
.quote-text {
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  user-select: none;
}

.avengers-text {
  font-family: "Avengero";
  font-size: 56px;
  font-weight: normal;
  text-align: center;
  user-select: none;
}

.dashed-line {
  width: 28%;
  border: none;
  border-top: 4px dashed black;
}

/* image buttons */
.image-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 45px;
}

.image-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button img {
  display: block;
  width: 190px;
  border: 5px solid black;
  border-radius: 20px;
}
