.manager-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 25px;
  user-select: none;
}

.manager-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 3px solid #949494;
  border-radius: 20px;
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: bold;
  color: #323232;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.manager-button:hover {
  background-color: #323232;
  border-color: #323232;
  color: white;
}

/* Tablet */
@media (max-width: 768px) {
  .manager-buttons-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .manager-item:nth-child(9) {
    grid-column: 2;
  }

  .manager-item:nth-child(10) {
    grid-column: 3;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .manager-buttons-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .manager-button {
    font-size: 18px;
    height: 32px;
  }

  .manager-item img {
    width: 120px;
    height: 120px;
  }

  .manager-item:nth-child(9) {
    grid-column: 1 / 2;
    justify-self: end;
  }

  .manager-item:nth-child(10) {
    grid-column: 2 / 3;
    justify-self: start;
  }
}
